<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo2.png" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Yangiliklarga obuna bo'lish</p>
			<p>Bizning yangi mahsulotlarimizdan xabardor bo'lish uchun obuna bo'ling.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Magic Juice</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Bosh sahifa</a></li>
					<li><a href="/products" class="link">Mahsulotlarimiz</a></li>
					<li><a href="/values" class="link">Biz haqimizda</a></li>
					<li><a href="/post" class="link">Yangiliklar</a></li>
					<li><a href="/contact" class="link">Aloqa</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Batafsil ma`lumot oling</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Aksiyalar</a></li>
					<li><a href="/contact" class="link">Uchrashuvga yozilish</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Ijtimoiy tarmoqlarimiz</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
